.horizontal-timeline-wrapper {
    position: relative;
    width: 100%;
}

.horizontal-timeline-bkg-lines{
    background-image: repeating-linear-gradient(to right,#666 0px, #666 1px, transparent 1px, transparent 10px);
    height: 20px;
    width: 100%;
    display: block;
}

.horizontal-timeline-container {
    display: flex;
    align-items: baseline;
    height: 100%;
    /* padding: 0 25vw; */
    will-change: transform;
}

/* Central Horizontal Line */
.horizontal-timeline-container::before {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    height: 1px; 
    /* background: #e0e0e0; */
    z-index: 1;
}

.horizontal-timeline-item {
    flex: 0 0 400px;
    margin-right: 15vw;
    position: relative;
    z-index: 2;
}

.horizontal-timeline-dot {
    width: 12px; 
    height: 12px;
    background: #000; 
    border-radius: 50%;
    transform: translateY(-15px);
}

.horizontal-timeline-content {
    padding-left: 30px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
}

/* Accordion for only text */
.horizontal-timeline-text {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s;
}
.horizontal-timeline-text:not(.horizontal-timeline-text-visible) {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}


.horizontal-timeline-image { 
    margin-bottom: 12px; 
}

.horizontal-timeline-image img { 
    display: block;
    max-width: 200px!important;
    height: 200px!important;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    border-radius: 5px!important;
}
.horizontal-timeline-wrapper {
    cursor: grab;
}
.horizontal-timeline-wrapper:active {
    cursor: grabbing;
}

.horizontal-timeline-year { 
    font-size: 1.05rem;
    color: #585058;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'FOCO';
    font-weight: 900;
}

.horizontal-timeline-title {     
    letter-spacing: -1px;
    font-family: "Foco", Sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #483041; 
}

.horizontal-timeline-text { 
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    color: #483041;
    font-family: Mac;
}