.horizontal-timeline-wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: #fff;
    font-family: 'Inter', sans-serif;
}

.horizontal-timeline-bkg-lines{
    background-image: repeating-linear-gradient(to right,#666 0px, #666 1px, transparent 1px, transparent 10px);
    position: absolute; 
    top: 50%; 
    left: 50%; 
    right: 0; 
    bottom: 0;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 100%;
}

.horizontal-timeline-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25vw;
    will-change: transform;
}

/* Central Horizontal Line */
.horizontal-timeline-container::before {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    height: 1px; 
    /* background: #e0e0e0; */
    z-index: 1;
}

.horizontal-timeline-item {
    flex: 0 0 400px;
    margin-right: 15vw;
    position: relative;
    z-index: 2;
}

.horizontal-timeline-dot {
    width: 12px; height: 12px;
    background: #000; border-radius: 50%;
    position: absolute; top: 50%; transform: translateY(-50%);
}

.horizontal-timeline-content {
    padding-left: 30px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
}
/* 
.horizontal-timeline-item.is-active .horizontal-timeline-content { opacity: 1; transform: scale(1.1); } */

/* 
.horizontal-timeline-item:nth-child(even) .horizontal-timeline-content { transform: translateY(-140px); }
 */
.horizontal-timeline-item .horizontal-timeline-content { transform: translateY(70px); }
.horizontal-timeline-progress-track {
    position: absolute; bottom: 40px; left: 10%; width: 80%; height: 2px; background: #f0f0f0; z-index: 10;
}

#horizontal-timeline-bar { width: 0%; height: 100%; background: #000; transition: width 0.2s ease-out; }

.horizontal-timeline-image { margin-bottom: 12px; }
.horizontal-timeline-image img { display: block; max-width: 100%; height: auto; border-radius: 6px; }

.horizontal-timeline-year { font-weight: 800; font-size: 0.75rem; color: #888; text-transform: uppercase; letter-spacing: 2px; }
.horizontal-timeline-title { margin: 5px 0; font-size: 2rem; letter-spacing: -1px; }
.horizontal-timeline-text { color: #666; font-size: 1rem; }